<header class="page_block">
  <div class="header row g-0">
    <div class="col-3">
      {{> logo}}
    </div>
    <nav class="header_nav col-9">
      <div class="header_nav_right">
        {{>nav list=header}}
      </div>
    </nav>
  </div>
</header>

{{#with main}}
<div class="hero">
  <img src="{{image}}" alt="img" class="hero_image">
  <div class="hero_content">
    <h1 class="hero_title">{{heading}}</h1>
    <p class="hero_text">{{descriotion}}</p>
    <a href="href" class="main_button">{{button}}</a>
  </div>
</div>
{{/with}}

<div class="featured"> 
  {{#each featured}}
    <div class="featured_item"> 
      <img src="{{photo}}" alt="photo" class="featured_image">
      <h1 class="heading">{{heading}}</h1>
      <p class="info">{{info}}</p>
      <a href="{{linkUrl}}" class="button">{{linkText}}</a>
    </div>
  {{/each}}
</div>



<div class="actions">
  {{#each actions}}
  <div class="action_item">
    <div class="heading_item">{{heading}}</div>
    <a href="{{url}}" class="button_actions">{{text}}</a>
  </div>
  {{/each}}
</div>



<footer class="page_block">
  {{> divider}}
  <footer class="row footer">
    <div class="col-3">
      {{> logo}}
      <span class="footer_copyright"> Copyright 2023-2024 </span> 
    </div>

    {{#each footer}}
    <div class="col-3">
      <span class="footer_title">{{title}}</span>
      {{>nav list=links isVertical=true}}
    </div>
    {{/each}}
  </footer>
</footer>
